@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgba(27, 32, 38, 0.99);
}

footer {
  background-color: rgba(72, 103, 141, 0.99);
}

.diseño-footer {
  padding-top: 40px;
  text-align: center;
  padding-bottom: 20px;
  font-size: 16px;
}

.main__index {
  display: grid;
  width: 100%;
  grid-template-areas: "header" "section1" "section2" "footer";
  grid-template-rows: 0px auto auto 140px;
  height: 100vh;
  margin: 0;
}

.section__index {
  background-image: url(../img/imagenes-index/messi-hero.jpg);
  grid-area: section1;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 520px;
  font-size: 25px;
  text-align: center;
  align-items: end;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
@media (min-width: 320px) {
  .section__index {
    background-image: url(../img/imagenes-index/messi-index-celular.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }
}
@media (min-width: 480px) {
  .section__index {
    background-image: url(../img/imagenes-index/messi-hero.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }
}
.section__index h1 {
  font-size: 60px;
  margin-bottom: 15px;
  color: rgba(27, 32, 38, 0.99);
}
@media (min-width: 320px) {
  .section__index h1 {
    font-size: 25px;
  }
}
@media (min-width: 480px) {
  .section__index h1 {
    font-size: 40px;
  }
}
@media (min-width: 600px) {
  .section__index h1 {
    font-size: 40px;
  }
}

.section__index2 {
  grid-area: section2;
  display: flex;
  margin: 50px 50px;
}
@media (min-width: 320px) {
  .section__index2 {
    flex-direction: column-reverse;
    align-items: center;
  }
}
@media (min-width: 480px) {
  .section__index2 {
    align-items: center;
    flex-direction: column-reverse;
  }
}
@media (min-width: 600px) {
  .section__index2 {
    align-items: center;
    flex-direction: row;
  }
}
.section__index2 img {
  width: 500px;
  height: 450px;
}
@media (min-width: 320px) {
  .section__index2 img {
    width: 300px;
    height: 300px;
  }
}
@media (min-width: 480px) {
  .section__index2 img {
    width: 400px;
    height: 370px;
  }
}
@media (min-width: 850px) {
  .section__index2 img {
    padding-right: 20px;
  }
}
@media (min-width: 1024px) {
  .section__index2 img {
    padding-right: 20px;
  }
}
@media (min-width: 1300px) {
  .section__index2 img {
    padding-right: 20px;
  }
}
.section__index2 h2 {
  text-align: center;
  font-size: 40px;
  margin-bottom: 2%;
  color: #fff;
}
@media (min-width: 320px) {
  .section__index2 h2 {
    font-size: 25px;
  }
}
@media (min-width: 480px) {
  .section__index2 h2 {
    font-size: 25px;
  }
}
@media (min-width: 600px) {
  .section__index2 h2 {
    font-size: 25px;
  }
}
@media (min-width: 850px) {
  .section__index2 h2 {
    font-size: 32px;
  }
}
@media (min-width: 1024px) {
  .section__index2 h2 {
    font-size: 30px;
  }
}
.section__index2 p {
  color: #fff;
}
@media (min-width: 320px) {
  .section__index2 p {
    font-size: 13px;
    line-height: 1.7;
    text-align: center;
    margin-bottom: 20px;
  }
}
@media (min-width: 480px) {
  .section__index2 p {
    font-size: 13px;
    line-height: 1.7;
    text-align: center;
    margin-bottom: 20px;
  }
}
@media (min-width: 600px) {
  .section__index2 p {
    font-size: 16px;
    line-height: 1.7;
    text-align: center;
    margin-bottom: 20px;
  }
}
@media (min-width: 850px) {
  .section__index2 p {
    font-size: 16px;
    line-height: 1.7;
    margin-bottom: 20px;
  }
}
@media (min-width: 1024px) {
  .section__index2 p {
    font-size: 23px;
    line-height: 1.7;
  }
}

.fotosleo {
  display: flex;
  flex-direction: column;
}
.fotosleo .h1-galeria {
  color: #fff;
  font-size: 32px;
  margin-top: 80px;
  display: flex;
  justify-content: center;
}
@media (min-width: 320px) {
  .fotosleo .h1-galeria {
    font-size: 21px;
  }
}
@media (min-width: 480px) {
  .fotosleo .h1-galeria {
    font-size: 24px;
  }
}
.fotosleo div {
  padding: 20px 50px;
  margin: 0px 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.imagenes-iconicas {
  border-radius: 30px;
  height: 250px;
  width: 350px;
}

.imagenes-iconicas:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}

.imagenes-iconicas:not(hover) {
  transition: transform 0.3s ease-in-out;
}

.videosGaleria {
  display: flex;
  align-items: center;
  padding: 0px 50px 30px;
  border: 4px solid rgba(72, 103, 141, 0.99);
  margin: 30px 50px;
}
@media (min-width: 320px) {
  .videosGaleria {
    flex-direction: column;
  }
}
@media (min-width: 480px) {
  .videosGaleria {
    flex-direction: column;
  }
}
@media (min-width: 600px) {
  .videosGaleria {
    flex-direction: column;
  }
}
@media (min-width: 850px) {
  .videosGaleria {
    flex-direction: column;
  }
}
.videosGaleria .videosGaleria video {
  width: 700px;
  height: 600px;
}
.videosGaleria .descripcion-gol {
  display: inline-block;
  justify-content: center;
  text-align: center;
  align-items: center;
}
.videosGaleria .descripcion-gol h2 {
  color: aliceblue;
  font-size: 32px;
  padding-bottom: 20px;
}
@media (min-width: 320px) {
  .videosGaleria .descripcion-gol h2 {
    font-size: 16px;
  }
}
@media (min-width: 480px) {
  .videosGaleria .descripcion-gol h2 {
    font-size: 20px;
  }
}
@media (min-width: 600px) {
  .videosGaleria .descripcion-gol h2 {
    font-size: 20px;
  }
}
@media (min-width: 850px) {
  .videosGaleria .descripcion-gol h2 {
    font-size: 24px;
  }
}
.videosGaleria .descripcion-gol p {
  font-size: 24px;
  color: antiquewhite;
}
@media (min-width: 320px) {
  .videosGaleria .descripcion-gol p {
    font-size: 12px;
  }
}
@media (min-width: 480px) {
  .videosGaleria .descripcion-gol p {
    font-size: 16px;
  }
}
@media (min-width: 600px) {
  .videosGaleria .descripcion-gol p {
    font-size: 16px;
  }
}
@media (min-width: 850px) {
  .videosGaleria .descripcion-gol p {
    font-size: 18px;
  }
}
@media (min-width: 1024px) {
  .videosGaleria .descripcion-gol p {
    font-size: 20px;
  }
}

.messi-gol-clasico {
  display: block;
}
@media (min-width: 320px) {
  .messi-gol-clasico video {
    width: 280px;
    height: 160px;
  }
}
@media (min-width: 480px) {
  .messi-gol-clasico video {
    width: 400px;
    height: 200px;
  }
}
@media (min-width: 600px) {
  .messi-gol-clasico video {
    width: 500px;
    height: 400px;
  }
}
@media (min-width: 850px) {
  .messi-gol-clasico video {
    width: 600px;
    height: 500px;
  }
}
@media (min-width: 1024px) {
  .messi-gol-clasico video {
    width: 500px;
    height: 400px;
  }
}

/*# sourceMappingURL=main.css.map */
