//variables de colores
$color-primary:  aliceblue;
$color-secondary:  cornflowerblue;
$color-tertiary: #fff;
$color-quaternary: #000;

//variables para background

$background-primary: rgba(27, 32, 38, 0.99);
$background-secondary:rgba(72, 103, 141, 0.99);

