.body-contact {
    //background-image:url(../img/imagenes-contacto/messi-contacto.png);
    //     min-height: 100vh;
//     display: flex;
//     align-items: center;
//     justify-content: center;
background-color: white;
 }

form {
    padding: 50px 55px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    text-align: center;
    width: 400px;
}

.input-group {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.h2-contact {
    color: #283629;
    font-size: 35px;
}

label {
    color:#283629;
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 15px;   
}

input, textarea {
    padding: 17px 25px;
    border-radius: 25px;
    margin-bottom: 20px;
    background-color:#edfff0;
    border: 2px solid #f0faf1;
    color: #283629;
    outline: none;
}

input::placeholder, textarea::placeholder {
    color: #b5cab6;
}

.form-txt{
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.form-txt a {
    color: #76b28e;
    font-weight: 600;
    text-decoration: none;

}

.btn {
    font-size: 16px;
    color:#ffffff ;
    border: 0;
    border-radius: 25px;
    background-color: #51d94c;
    box-shadow: 0 0 20px rgba(25,254,0,0.4);
    cursor: pointer;
}

.btn:hover {
    background-color: #50e04b;

}


