.h1-logros {
    color:$color-primary;
    text-align: center;
    margin-bottom: 50px;
    margin-top: 30px;
    font-size: 40px;
}

hr {
    color: #fff;
}
.equipos-cards {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    margin-bottom: 100px;
}
.logros-totales {
    margin: auto 50px;
    border-radius: 50px;
    p {
        font-size: 20px;
        padding: 0px;
        text-align:center;
    }

}

.card {
    background-color: $background-primary;
    box-shadow: 10px 10px 12px 5px black;
    margin: 20px;
}

.card-messi {
    height: 430px;
}

.card-text {
    font-size: 18px;
    line-height: 1.7;
    padding: 0px;
}


.fotos-logros {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 80px;
    img{
    width:350px;
    height: 300px;
    }
}
